<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.superutilities">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <!-- Get permission for reliable local dispatching on non-Google Play devices. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-feature android:name="android.hardware.camera.front" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight"
        android:name=".AnalyticsApplication">




        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/-->

        <!--meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /-->

        <!--meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/globaling_tracker"/-->

        <!-- Register AnalyticsReceiver and AnalyticsService to support background
         dispatching on non-Google Play devices. -->
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <!-- ... -->

        <activity
            android:name=".NavigationDrawel"
            android:label="@string/title_activity_main_activity_navigation_drawel"
            android:theme="@style/AppThemeLight">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".BubbleLevel.Level"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Level.NoTitle"></activity>
        <activity
            android:name=".BubbleLevel.LevelPreferences"
            android:screenOrientation="portrait"
            android:theme="@style/Level"></activity>

        <!-- Activities del glass -->

        <activity
            android:name=".MagnifyingGlass.MagnifierActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:multiprocess="false"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".colorpicker.ColorPickerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Compass.CompassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Ruler.RulerActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Mirror.MirrorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MetalDetector.MetalDetectorActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".UnitConverterUltimate.MainConvertionActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".UnitConverterUltimate.DonateActivity"
            android:label="@string/title_activity_donate"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".UnitConverterUltimate.PreferencesActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".MainActivityFacebook"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <!--Include the AdActivity configChanges and theme. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />


    </application>

</manifest>
